.productsComponent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 96vw;
  padding: 2vw;
  min-height: 32vw;
  > .header {
    color: #ffffff;
    width: 100%;
    padding: 1vw 0;
    > p {
      text-align: start;
      font-size: 3vw;
    }
  }
  > .productsGrid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1vw;
    margin-bottom: 2vw;
  }
}
.circularProgressIndicator {
  width: 6vw;
  height: 6vw;
  border: 1vw solid black;
  border-radius: 50%;
  position: relative;
  .circularProgressIndicatorChild {
    width: 6vw;
    height: 6vw;
    position: absolute;
    top: -1vw;
    left: -1vw;
    border: 1vw solid transparent;
    border-left: 1vw solid greenyellow;
    border-radius: 50%;
    z-index: 1;
    animation: cPI 2s ease-in-out infinite forwards running;
  }
}
@media only screen and (max-width: 760px) {
  .productsComponent {
    min-height: 57vw;
  }
}
@media only screen and (max-width: 425px) {
  .productsComponent {
    width: 92vw;
    padding: 4vw;
    min-height: 153vw;
    > .header {
      > p {
        font-size: 6vw;
      }
    }
    > .productsGrid {
      width: 100%;
      grid-template-columns: 1fr 1fr;
      gap: 2vw;
    }
  }
  .circularProgressIndicator {
    width: 12vw;
    height: 12vw;
    border: 2vw solid black;
    .circularProgressIndicatorChild {
      width: 12vw;
      height: 12vw;
      top: -2vw;
      left: -2vw;
      border: 2vw solid transparent;
      border-left: 2vw solid greenyellow;
    }
  }
}
@keyframes cPI {
  0% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(390deg);
  }
}
