.productSpecificComponent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100vw;
  min-height: 32vw;
  > .singleProductContainer {
    width: 96vw;
    padding: 2vw;
  }
}

@media only screen and (max-width: 760px) {
  .productSpecificComponent {
    min-height: 57vw;
    > .singleProductContainer {
      width: 92vw;
      padding: 4vw;
    }
  }
}
@media only screen and (max-width: 425px) {
  .productSpecificComponent {
    min-height: 153vw;
    > .singleProductContainer {
      width: 92vw;
      padding: 4vw;
    }
  }
}
