.cartComponent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: calc(100% - 20px);
    padding: 10px;

    .cartDetailsAddressContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 20px;

        >.cartDetailsContainer {
            width: calc(50% - 20px);
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 5px;
            border-radius: 10px;
            background-color: grey;
            color: black;

            >p {
                text-align: left;
                width: calc(100% - 15px);
                padding-left: 15px;
                font-size: 1.8rem;
                font-weight: bold;
            }

            >.cartItemsContainer {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                width: calc(100% - 30px);
                height: 40vh;
                overflow: auto;
                padding: 10px 15px;

                .cartItem {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    position: relative;
                    width: calc(100% - 20px);
                    padding: 10px;
                    margin-bottom: 5px;
                    background-color: rgba(255, 255, 255, 0.7);
                    border-radius: 10px;

                    >.removeFromCartbtn {
                        position: absolute;
                        top: 5px;
                        right: 5px;
                        height: 20px;
                        width: 20px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border: none;
                        border-radius: 60px;
                        font-size: 0.9rem;
                        font-weight: bold;
                        background-color: #ff0000;
                        color: white;
                        cursor: pointer;

                        >img {
                            width: 100%;
                        }
                    }

                    >.cartItemImage {
                        width: 10%;
                        background-color: beige;
                        border-radius: 10px;
                    }

                    >.detailsContainer {
                        width: 60%;
                        padding: 10px 0;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: flex-start;

                        >.cartItemdetail {
                            display: flex;
                            align-items: center;
                            font-size: 0.7rem;
                            font-weight: bold;
                            color: black;
                        }

                        >.cartItemdetail:nth-child(1) {
                            font-size: 1rem;
                            color: blue;
                            margin-bottom: 5px;
                        }
                    }

                    >.btnContainer {
                        width: 20%;
                        padding-right: 6%;
                        align-items: center;
                        justify-content: space-around;

                        >.plusMinusBtns {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            height: 5vh;
                            width: 100%;
                            border-radius: 15px;
                            font-size: 0.8rem;
                            font-weight: bold;
                            overflow: hidden;
                            cursor: pointer;

                            >span {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                width: 30%;
                                height: 100%;
                                font-size: 1.5rem;
                                font-weight: bold;
                                background-color: rgb(247, 140, 105);
                            }

                            >span:nth-child(2) {
                                width: 40%;
                                height: 100%;
                                font-size: 0.8rem;
                                background-color: greenyellow;
                            }
                        }
                    }
                }
            }

            >.subTotalContainer {
                width: calc(100% - 40px);
                padding: 5px 10px;
                border-top: 2px solid black;
                display: flex;
                align-items: flex-start;
                justify-content: space-between;

                >.billContainer {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    width: 60%;

                    >div {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        width: 100%;
                        color: black;
                        font-size: 0.8rem;
                        font-weight: bold;

                        >p {
                            text-align: left;
                            width: 70%;
                        }

                        >div {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            width: 30%;
                        }
                    }

                    >div:nth-child(1) {
                        font-size: 1rem;
                    }

                    >div:nth-child(4) {
                        font-size: 1.2rem;
                    }
                }

                >.checkOutBtnContainer {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    width: 40%;

                    >.checkOutBtn {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 15px;
                        margin-top: 1.5vh;
                        background-color: greenyellow;
                        color: black;
                        font-size: 1rem;
                        font-weight: bold;
                        border: none;
                        border-radius: 10px;
                    }
                }
            }
        }

        >.AddressRecomendatiosContainer {
            width: calc(50% - 20px);
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 5px;
            border-radius: 10px;
            background-color: unset;
            color: black;
            padding: 0 5px;

            >.savedAddressesContainer {
                width: calc(100% - 20px);
                /* height: calc(50% - 30px); */
                padding: 10px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                background-color: rgba(0, 222, 0, 0.2);
                border-radius: 10px;

                >p {
                    height: 15%;
                    font-weight: bold;
                }

                >.listofaddresses {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    width: 100%;
                    /* height: 70%; */
                    list-style-type: none;

                    >.address {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        width: calc(100% - 20px);
                        /* height: 30%; */
                        padding: 0 10px;
                        margin-bottom: 5px;

                        >.removeAddressbtn {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: calc(4vw - 10px);
                            /* height: calc(70% - 10px); */
                            padding: 5px;
                            background-color: red;
                            color: black;
                            font-size: 1rem;
                            font-weight: bold;
                            border-radius: 10px;
                        }
                    }
                }

                .addAddressBtn {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-start;
                    width: calc(20% - 20px);
                    /* height: calc(15% - 10px); */
                    padding: 5px 10px;
                    font-size: 0.8rem;
                    background-color: greenyellow;
                    border-radius: 10px;
                    color: black;

                    >p {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        width: calc(100% - 10px);
                        /* height: 100%; */
                        padding: 0 5px;
                        overflow: hidden;
                        font-size: 0.9rem;
                        font-weight: bold;

                        >span {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            /* height: calc(100% - 5px); */
                            padding-bottom: 5px;
                            width: 15%;
                            font-size: 1.5rem;
                            font-weight: bold;
                        }
                    }
                }
            }

            >.recomendationsContainer {
                width: 100%;
                /* height: calc(50% - 10px); */
                background-color: rgba(220, 243, 0, 0.2);
                border-radius: 10px;
            }
        }
    }
}