* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden auto;
}

.App-body {
  background-color: #282c34;
  width: 100vw;
  min-height: 32vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
@media only screen and (max-width: 760px) {
  .App-body {
    min-height: 57vw;
  }
}
@media only screen and (max-width: 425px) {
  .App-body {
    min-height: 153vw;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*  */
/*  */
/* Custom Scrollbar */
/*  */
/*  */
.scrollbar-x {
  overflow-x: scroll;
}
.scrollbar-x::-webkit-scrollbar {
  width: 0.3vw;
}
.scrollbar-x::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.7);
}

/* Handle */
.scrollbar-x::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
}

/* Handle on hover */
.scrollbar-x::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.scrollbar-y {
  overflow-y: scroll;
}
.scrollbar-y::-webkit-scrollbar {
  width: 0.3vw;
}
.scrollbar-y::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.7);
}

/* Handle */
.scrollbar-y::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
}

/* Handle on hover */
.scrollbar-y::-webkit-scrollbar-thumb:hover {
  background: #555;
}
